<link rel="stylesheet" href="/css/matricula/detalle.css">
{{#each list}}
<form action="/cars/matricula/detailList/{{idCars}}"></form>
<div id="datosCarro">
    <div id="marca">
        <label>Marca:</label>
        <p>{{brandCars}}</p>
    </div>
    <div id="clase">
        <label>Clase:</label>
        <p>{{classCars}}</p>
    </div>
    <div id="tipo">
        <label>Tipo:</label>
        <p>{{typeCars}}</p>
    </div>
    <div id="año">
        <label>Año:</label>
        <p>{{yearsCars}}</p>
    </div>
    <div id="placa">
        <label>Placa:</label>
        <p>{{licenseplateCars}}</p>
    </div>
    <div id="modelo">
        <label>Modelo:</label>
        <p>{{brandCars}}</p>
    </div>
    <div id="motor">
        <label>Motor:</label>
        <p>{{engineCars}}</p>
    </div>
    <div id="chasis">
        <label>Chasis:</label>
        <p>{{chassisCars}}</p>
    </div>
</div>
{{/each}}
<button id="btnExportar" type="button">
    <i class="fas fa-file-excel"></i> Exportar datos a Excel
</button>
<table id="tabla">
    <tbody>
        <tr>
            <td>Fecha</td>
            <td>AÑO MATRICULA</td>
            <td>FECHA CADUCA MATRICULA</td>
            <td>A NOMBRE DE</td>
            <td>RTV</td>
            <td>COMISION</td>
            <td>IMPUESTO SOBRE VEHICULOS</td>
            <td>COMISION</td>
            <td>MATRICULA</td>
            <td>COMISION</td>
            <td>FONDO VIAL</td>
            <td>COMISION</td>
            <td>TOTAL PAGO</td>
        </tr>
        <tr>
            {{#each matriculas}}
            <td>
                <p>{{datelicensePlates}}</p>
            </td>
            <td>
                <p>{{registrationYearLicensePlates}}</p>
            </td>
            <td>
                <p>{{registrationExpirationDateLicensePlates}}</p>
            </td>
            <td>
                <p>{{toNameLicensePlates}}</p>
            </td>
            <td>
                <p>{{rtvTuitionTax}}</p>
            </td>
            <td>
                <p>{{commissionTuitionTax}}</p>
            </td>
            <td>
                <p>{{vehicleTaxTuitionTax}}</p>
            </td>
            <td>
                <p>{{commission2TuitionTax}}</p>
            </td>
            <td>
                <p>{{tuitionTuitionTax}}</p>
            </td>
            <td>
                <p>{{commission3TuitionTax}}</p>
            </td>
            <td>
                <p>{{roadFundRegistrationTax}}</p>
            <td>
                <p>{{commission4TuitionTax}}</p>
            </td>
            <td>
                <p>{{totalTuitionTax}}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div id="boton">
    {{#each matriculas}}
    <a href="/cars/matricula/edit/{{idlicensePlate}}"><button type="button">Actualizar</button></a>
    {{/each}}
</div>

<script src="/js/exel/exel.js"></script>