<link rel="stylesheet" href="/css/mantenimiento/detalle.css">
<script src="/js/pdf/html2pdf.bundle.min.js"></script>
<button id="btnCrearPdf" type="button">
    <i class="fas fa-file-pdf"></i> Exportar pdf
</button>
{{#each list}}
<form action="/cars/mantenimiento/detailList/{{idCars}}" method="post" id="element-to-print">
    <div id="texto">
        <p>RACINGMOTOS ESCUELA DE CONDUCCIÓN </p>
        <p>BITÁCORA DE MANTENIMIENTO Y USO VEHÍCULAR POR KILOMETRAJE </p>
    </div>
    <div id="imagen">
        <img src="/img/logos/RACING ISOTIPO VERTICAL.jpg" alt="">
    </div>
    <div id="datosCarro">
        <div>
            <p>DATOS DEL VEHICULO</p>
        </div>
        <div id="marca">
            <label>Marca:</label>
            <p>{{brandCars}}</p>
        </div>
        <div id="clase">
            <label>Clase:</label>
            <p>{{classCars}}</p>
        </div>
        <div id="tipo">
            <label>Tipo:</label>
            <p>{{typeCars}}</p>
        </div>
        <div id="año">
            <label>Año:</label>
            <p>{{yearsCars}}</p>
        </div>
        <div id="placa">
            <label>Placa:</label>
            <p>{{licenseplateCars}}</p>
        </div>
        <div id="modelo">
            <label>Modelo:</label>
            <p>{{modelCars}}</p>
        </div>
        <div id="motor">
            <label>Motor:</label>
            <p>{{engineCars}}</p>
        </div>
        <div id="chasis">
            <label>Chasis:</label>
            <p>{{chassisCars}}</p>
        </div>
        <div id="responsable">
            <label>RESPONSABLE DEL VEHICULO:</label>
            <p></p>
        </div>
    </div>
    {{/each}}
    <div id="Fecha">
        <label>Semana:del <p></p> al <p></p></label>
    </div>
    <div id="fechaEntrega">
        <label>Fecha de Entrega: <p></p></label>
    </div>
    <div id="FIRMA">
        <label>Firma de responsab:</label>
        <hr>
    </div>
    <table id="tabla">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Hora Inicio</td>
                <td>Hora Fin</td>
                <td>Tiempo Total</td>
                <td>Kilometraje</td>
                <td>Cantidad</td>
                <td>Tipo</td>
                <td>Trabajo o servicio</td>
                <td>Encargado</td>
                <td>Ubicación</td>
                <td>Costo</td>
                <td>observacion</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each mantenimiento}}
                <td>
                    <p>{{dateMaintenance}}</p>
                </td>
                <td>
                    <p>{{hourStartMaintenance}}</p>
                </td>
                <td>
                    <p>{{hourFinishMaintenance}}</p>
                </td>
                <td>
                    <p>{{timeMaintenance}}</p>
                </td>
                <td>
                    <p>{{mileageMaintenance}}</p>
                </td>
                <td>
                    <p>{{amountMaintenance}}</p>
                </td>
                <td>
                    <p>{{typeMaintenance}}</p>
                </td>
                <td>
                    <p>{{descriptionMaintenance}}</p>
                </td>
                <td>
                    <p>{{maintenanceManager}}</p>
                </td>
                <td>
                    <p>{{ubicationMaintenance}}</p>
                </td>
                <td>
                    <p>{{preciMaintenance}}</p>
                <td>
                    <p>{{remarksMaintenance}}</p>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<script src="/js/pdf/pdf.js"></script>