<link rel="stylesheet" href="/css/autos/lista.css">
<form action="/cars/list/{{user.idUsers}}" method="get"></form>
<div id="contenedor">
    <div class="row">
        {{#each list}}
        <div id="tarjetas">
            <div id="imagen">
                <img src="/img/cars/{{imageCars}}" alt="">
            </div>
            <div id="matricula">
                <p>{{licenseplateCars}}</p>
            </div>
            <div id="modelo">
                <p>{{modelCars}}</p>
            </div>
            <div id="editar">
                <a href="/cars/edit/{{idCars}}"><button type="button">Actualizar</button></a>
            </div>
            <div id="seleccionar">
                <a href="/cars/implementos/detail/{{idCars}}"><button type="button">Detalle</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div id="boton">
    <a href="/cars/add/{{user.idUsers}}"><button type="button"><img src="/img/icons/black/plus.png" id="plus"></button></a>
</div>